* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top {
  flex-grow: 1;
}

.nav {
  background-color: #222222;
  height: 75px;
}

.nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.left_nav_item {
  padding-right: 41px;
}

.left_nav_item:hover .img_head {
  transform: scale(1.1);
}

.right_nav_menu:hover .img_head {
  transform: scale(1.1);
}

.right_nav_menu {
  padding-left: 33px;
}

.banner {
  height: 764px;
  background-color: #F1E4E6;
}

.banner_img {
  background-image: url(img/man\ \(1\).png);
  background-repeat: no-repeat;
  height: 764px;
  position: relative;
}

.banner_text {
  display: flex;
}

.strike {
  width: 10px;
  height: 90px;
  background-color: #F16D7F;
  margin-right: 16px;
}

.decor_text {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: #222222;
}

.decor_text_once {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #222222;
}

.banner_text {
  position: absolute;
  top: 250px;
  left: 600px;
}

.span {
  color: #F16D7F;
}

.content {
  margin-top: 65px;
  margin-bottom: 96px;
}

.content_box_top {
  display: flex;
}

.content_item {
  display: block;
  width: 360px;
  height: 260px;
  position: relative;
  margin-right: 30px;
}

.paragraf_box_top {
  position: absolute;
  top: 105px;
  text-align: center;
  width: 100%;
}

.content_item:last-child {
  margin-right: 0;
}

.paragraf_item {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.content_item:hover .paragraf_item {
  text-decoration: underline;
}

.span_item {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.content_item:hover .span_item {
  text-decoration: underline;
  text-decoration-color: #F16D7F;
}

.content_box_buttom {
  margin-top: 30px;
}

.content_item_buttom:hover .paragraf_item {
  text-decoration: underline;
}

.content_item_buttom {
  display: block;
  position: relative;
}

.content_item_buttom:hover .span_item {
  text-decoration: underline;
  text-decoration-color: #F16D7F;
}

.paragraf_box_buttom {
  position: absolute;
  top: 65px;
  text-align: center;
  width: 100%;
}

.right_nav {
  position: relative;
}

.menu {
  min-height: 764px;
  width: 232px;
  background: #FFFFFF;
  position: absolute;
  top: 53px;
  left: 200px;
  padding: 16px 16px 16px 34px;
  box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2);
  box-sizing: border-box;
}

.menu_heading {
  display: flex;
  justify-content: space-between;
}

.menu_heading_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding-top: 20px;
  color: #000000;
}

.menu_block_name {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 20px;
  text-transform: uppercase;
}

.menu_block_link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: block;
  text-decoration: none;
  color: #6F6E6E;
  padding-top: 11px;
  padding-left: 20px;
}

.menu_block_link:hover {
  color: #F16D7F;
}

.item_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background: #F8F8F8;
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.items_heading {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
  text-align: center;
}

.items_heading2 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
  text-align: center;
}

.item_link {
  display: block;
  width: 360px;
  text-decoration: none;
}

.item:hover .item_img {
  filter: brightness(30%);
}

.item_link_text {
  padding: 25px 18px 20px;
}

.item_h3 {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}

.item_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-top: 12px;
  color: #5D5D5D;
}

.item_price {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 18px;
  color: #F16D7F;
}

.item_button_block {
  width: 360px;
  display: none;
  justify-content: center;
}

.item:hover .item_button_block {
  display: flex;
}

.item_button:hover {
  box-shadow: 0px 0px 10px 1px #FFFFFF;
}

.item_button {
  display: flex;
  position: absolute;
  top: 188px;
  padding: 13px;
  border: 1px solid #FFFFFF;
  align-items: center;
  text-decoration: none;
}

.item_button_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-left: 12px;
  color: #FFFFFF;
}

.items_button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.item_button_link {
  display: block;
  padding: 15px 40px;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  transition: background 0.7s, color 0.7s;
}

.item_button_link:hover {
  background: #FFFFFF;
  color: #F16D7F;
}

.footer {
  margin-top: 95px;
}

.footer_top_cardbox {
  display: flex;
  justify-content: space-around;
}

.footer_top_card {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.footer_top_paragraf {
  text-align: center;
}

.footer_top {
  background-color: #222224;
  height: 341px;
}

.footer_top_heading {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 20px;
}

.footer_top_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 18px;
}

.footer_middle {
  background-image: url(img/footer_fon.jpg);
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.footer_middle_box {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer_middle_left {
  padding-top: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_middle_left_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 360px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.footer_middle_right_span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 167%;
  text-align: center;
  color: #222224;
}

.footer_middle_right_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
  color: #222224;
}

.footer_middle_right {
  margin: 13% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputbutton {
  margin-top: 20px;
  display: flex;
}

.footer_middle_input {
  padding: 9px 22px;
  width: 256px;
  box-sizing: border-box;
  background: #E1E1E1;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  border-radius: 20px 0px 0px 20px;
  outline: none;
  border: none;
}

.footer_button {
  background: #F16D7F;
  padding: 9px 10px;
  border-radius: 0 20px 20px 0;
  border: none;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.7s, color 0.7s;
}

.footer_button_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
}

.footer_buttom {
  background: #222224;
}

.footer_buttom_strike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.copy {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.nav_button {
  display: flex;
}

.nav_button_adress {
  display: block;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  padding: 8px 0;
  box-sizing: border-box;
  margin-right: 7px;
  text-align: center;
  transition: background 0.7s;
}

.nav_button_adress:hover {
  background: #F16D7F;
}

.fa-facebook-f,
.fa-instagram,
.fa-pinterest-p,
.fa-twitter {
  color: #000000;
  transition: color 0.8s;
}

.nav_button_adress:hover .fa-facebook-f {
  color: #FFFFFF;
}

.nav_button_adress:hover .fa-instagram {
  color: #FFFFFF;
}

.nav_button_adress:hover .fa-pinterest-p {
  color: #FFFFFF;
}

.nav_button_adress:hover .fa-twitter {
  color: #FFFFFF;
}

.nav_product {
  background: #F8F3F4;
  height: 148px;
}

.nav_product_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}

.nav_product_right {
  display: flex;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.nav_product_left {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.nav_product_right_home {
  color: #636363;
  margin-right: 8px;
  text-decoration: none;
}

.nav_product_right_men {
  color: #636363;
  margin: 0 8px;
}

.nav_product_right_newarrivals {
  color: #F16D7F;
  margin-left: 8px;
  text-decoration: none;
}

.nav_product_right_home:hover {
  color: #F16D7F;
}

.nav_product_right_men:hover {
  color: #F16D7F;
}

.carusel {
  height: 777px;
  background: #F7F7F7;
}

.card_collection {
  border: 1px solid #EAEAEA;
  margin-top: -60px;
  background: #FFFFFF;
  z-index: 100;
}

.card_collection_center {
  width: 641px;
  margin: 0 auto;
}

.card_collection_center_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_collection_heading {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 64px;
}

.card_collection_strike {
  background: #F16D7F;
  width: 63px;
  height: 3px;
  margin-top: 12px;
}

.card_collection_brend {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
}

.card_collection_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 48px 20px 0 20px;
}

.card_collection_price {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 32px;
  margin-bottom: 64px;
}

.card_collection_hr {
  border: 1px solid #EAEAEA;
}

.card_collection_buttom {
  margin-top: 48px;
}

.card_collection_center_buttom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0;
}

.card_collection_select {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  outline: none;
  border: 1px solid transparent;
}

.card_collection_select:hover {
  border: 1px solid #F16D7F;
}

.card_collection_button_link {
  display: block;
  display: flex;
  align-items: center;
  width: 211px;
  border: 1px solid #F16D7F;
  padding: 14px 24px 8px;
  box-sizing: border-box;
  text-decoration: none;
}

.card_collection_button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-left: 24px;
  color: #F16D7F;
}

.another_item {
  margin-top: 129px;
}

.filters {
  padding: 51px 16px 64px;
}

.filter_left {
  position: relative;
}

.main_details {
  position: absolute;
}

details > summary {
  cursor: pointer;
  list-style: none;
}

.main_details[open] {
  width: 360px;
  box-shadow: 0px 5px 45px 7px rgba(34, 60, 80, 0.2);
  background: #FFFFFF;
  padding: 13px 16px;
  margin-top: -13px;
  margin-left: -16px;
}

.main_details[open] .summery_text {
  color: #F16D7F;
}

.main_details[open] .fa-align-left {
  color: #F16D7F;
}

.strike_details {
  width: 5px;
  height: 37px;
  background: #F16D7F;
}

.summery_flex {
  display: flex;
  justify-content: left;
  margin-top: 16px;
  border-bottom: 1px solid #EBEBEB;
}

.summery_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 11px;
}

.main_summery:hover .summery_text {
  color: #F16D7F;
}

.fa-align-left {
  color: #000000;
}

.main_summery:hover:hover .fa-align-left {
  color: #F16D7F;
}

.summery_text_details {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #F16D7F;
  margin-left: 11px;
}

.details_tet_link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  color: #6F6E6E;
  display: block;
  margin: 11px 16px 0;
}

.details_tet_link:hover {
  color: #F16D7F;
}

.filter_right {
  display: flex;
  justify-content: center;
}

.filter_right_option {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.filter_right_option_select {
  margin-right: 27px;
}

.pagin {
  display: flex;
  justify-content: center;
}

.pagination {
  border: 1px solid #EBEBEB;
  margin: 0 auto;
  display: flex;
  margin-top: 18px;
}

.arrow {
  margin: 15px 15px 12px;
}

.pagination_numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_number {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.pagination_number__margin {
  margin-right: 15px;
}

.pagination_number__color {
  color: #F16D7F;
}

.pagination_number:hover {
  color: #F16D7F;
}

.registration {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.registration__form_input {
  width: 100%;
  margin-top: 20px;
  padding: 13px 16px 15px;
  box-sizing: border-box;
  outline: none;
}

.registration__form {
  width: 360px;
  margin-right: 128px;
}

.registration__form_input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  color: #B1B1B1;
}

.registration__form_input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  color: #B1B1B1;
}

.registration__form_gender {
  margin: 31px 0px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: #000000;
}

.registration__form_text {
  margin: 15px 0 39px;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
}

.gender__item {
  margin-right: 10px;
}

.gender {
  display: flex;
  align-items: center;
}

.registration__form_button {
  padding: 16px 29px;
  background: #F16D7F;
  display: flex;
  align-items: center;
  border: 1px solid #F16D7F;
  cursor: pointer;
  transition: background 0.7s;
}

.registration_button_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 20px;
  transition: color 0.7s;
}

.fa-long-arrow-right {
  color: #FFFFFF;
  transition: color 0.7s;
}

.registration__programm {
  max-width: 652px;
}

.registration__programm_heading,
.registration__programm_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}

.registration__programm_paragraf {
  margin: 22px 0;
}

.registration__progremm_item {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  list-style-type: none;
}

.registration__progremm_item_list {
  margin-bottom: 18px;
}

.registration__progremm_item_list::before {
  content: url("img/Vector.svg");
  margin-right: 20px;
}

.registration__form_button:hover {
  background: #FFFFFF;
}

.registration__form_button:hover .registration_button_text {
  color: #F16D7F;
}

.registration__form_button:hover .fa-long-arrow-right {
  color: #F16D7F;
}

.cart_box {
  display: flex;
  justify-content: space-between;
}

.shopping_carts {
  margin-top: 96px;
  width: 652px;
}

.cart_item {
  display: flex;
  box-shadow: 15px 15px 15px #E5E5E5;
  margin-bottom: 40px;
}

.cart_item_image {
  width: 262px;
  height: 100%;
}

.cart_item_text {
  padding: 22px 22px 0 31px;
  width: 100%;
}

.cart_item_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  align-items: flex-start;
}

.cart_item_name_heading {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  width: 202px;
  margin-top: -3px;
}

.cart_item_carttext {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 6px;
  color: #575757;
}

.cart_item_span {
  color: #EF5B70;
}

.cart_item_quantity {
  display: flex;
}

.cart_input_number {
  margin-left: 5px;
  padding: 0 1px 0 10px;
  width: 23px;
  outline: none;
}

.order_command {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.button_delete {
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  background: #FFFFFF;
  color: #000000;
  transition: background 0.7s, color 0.7s;
}

.order_return {
  display: block;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #000000;
  transition: background 0.7s, color 0.7s;
}

.button_delete:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.order_return:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.fa-xmark {
  margin-top: 10px;
  color: #000000;
  cursor: pointer;
}

.fa-xmark:hover {
  color: #F16D7F;
}

.img_cart:hover {
  transform: scale(1.05);
}

.cart_adress {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.cart_adress_paragraf {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.adress_input {
  width: 360px;
  box-sizing: border-box;
  padding: 12px 16px 15px;
  margin-top: 20px;
  outline: none;
  border: 1px solid #A4A4A4;
}

.adress_input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.adress_input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}/*# sourceMappingURL=style.css.map */